@font-face {
	font-family: 'Orbitron';
	src: url('../../assets/fonts/Orbitron-Black.ttf');
}

@font-face {
	font-family: 'ZCOOL';
	src: url('../../assets/fonts/ZCOOLXiaoWei-Regular.ttf');
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	src: url('../../assets/fonts/Lato-Italic.ttf');
}

@font-face {
	font-family: 'Anton';
	src: url('../../assets/fonts/Anton-Regular.ttf');
}
