$main-color0: #000;
$main-color1: #0e0e10;
$main-color2: #242124;
$main-color3: #f5f5f5;
$main-color4: #fffff0;
$main-color5: #dc143c;
$main-color6: #c40234;
$main-color7: #dc343b;
$main-color8: #fe4eda;
$main-color9: #15f4ee;
$breakpoint-phone: 500px;
$breakpoint-small-phone: 415px;
