@import '../common/_variables.scss';
@import '../common/_fonts.scss';

.contact {
	margin-top: 200px;
	margin-left: 50px;

	.title {
		align-self: center;
		font-family: 'Orbitron';
		font-size: 60px;
	}

	img {
		margin-left: 20px;
		&:hover {
			cursor: pointer;
		}
	}
}

@media (max-width: $breakpoint-phone) {
	.contact {
		margin-top: 60px;
		margin-left: 15px;
		margin-bottom: 30px;

		.title {
			font-size: 30px;
		}

		img {
			width: 45px;
			margin-left: 10px;
		}
	}
}
