@import '../common/_variables.scss';
@import '../common/_fonts.scss';

.footer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding-bottom: 10px;
}

@media (max-width: $breakpoint-phone) {
	.footer {
		font-size: 15px;
	}
}
